<li>

<%= link_to course.coursename, course %>
<%= link_to course.institution, course %>
<%= link_to course.id, course %>

<%= link_to "delete", course, method: :delete, data: { confirm: "Are You sure?" } %>

</li>


