<div class="center hero-unit">
<h1>South West: DATABASE</h1>
<h2>
</h2>
<%= link_to "Courses", '#', class: "btn btn-large btn-primary" %>
<%= link_to "Employers", '#', class: "btn btn-large btn-primary" %>
<%= link_to "Jobs", '#', class: "btn btn-large btn-primary" %>
</div>


